@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: #f6f8fc;
  color: #344154;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html[data-dashboard-theme='light'],
body[data-dashboard-theme='light'] {
  background: #f6f8fc;
  color: #344154;
}

html[data-dashboard-theme='night'],
body[data-dashboard-theme='night'] {
  background: #131417;
  color: #a8a9ad;
}

main {
  width: 100%;
  min-height: 100vh;
}
